.card{
    width: 40%;
    border: 2px solid #E2BA55;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.img_div{
    width: 100%;
}
.img{
    width: 100%;
}
.card_name{
    width: 100%;
    font-size: 1.5rem;
    color: #000;
}
.card_bio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

}
.card_pricing_buying{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card_pricing{
    width: 100%;
    font-size: 1.5rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.artavailable{
    color: #E2BA55;
    font-size: 1.2rem;
    background-color: #F5F6FC;
    padding: 0.7rem;
    border-radius: 5px;
    
}
.love_icon{
    font-size: 2rem;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.love_status{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
.pricing{
    font-size: 1.5rem;
    background-color: #F5F6FC;
    padding: 0.7rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.pricing_amount{
    color: #E2BA55;
}
.select_lable{
    font-size: 1.5rem;
    color:#000;
}
.radio_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.radio{
    cursor: pointer;
}
.del_add_sav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
}
.delete_btn{
   width: 50%;
   background-color: #FA3636;
   border: none;
   color: #fff;
   font-size: 2rem;
   padding: 0.3rem 0rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   transition: 0.1s linear all;
}
.delete_btn:hover{
    background-color: #fff;
    color:#FA3636 ;
    outline: 2px solid #FA3636;
    transition: 0.1s linear all;
}
.edit_btn{
    width: 50%;
    background-color: #FBBE0C;
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.3rem 0rem;
    cursor: pointer;
    display: flex;
   justify-content: center;
   align-items:start;
   gap: 0.5rem;
   transition: 0.1s linear all;
}
.edit_btn:hover{
    background-color: #fff;
    color:#FBBE0C ;
    outline: 2px solid #FBBE0C;
    transition: 0.1s linear all;
}
.save_btn{
    width: 50%;
    background-color: #0D92F4;
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.3rem 0rem;
    cursor: pointer;
    transition: 0.1s linear all;
}
.save_btn:hover{
    background-color: #fff;
    color:#0D92F4 ;
    outline: 2px solid #0D92F4;
    transition: 0.1s linear all;
}
.cart_detiels{
    font-size: 1.5rem;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.detiels_input{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1080px) {
    .card{
        width: 60%;
    }
}
@media screen and (max-width:780px) {
    .card{
        width: 80%;
    }
}
@media screen and (max-width:480px) {
    .card{
        width: 90%;
    }
}