.form_div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sm_link{
    padding-top: 2rem;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}
.facebook{
    color: #0866FF;
}
.instagram{
    color:#F54808;
}
.linkedin{
    color: #0C61BF;
}
.twitter{
    color: #1C9CEA;
}
.link:hover{
    color:#DCB855;
}
.input_name{
   font-size: 5rem;
   padding: 0rem 0.5rem;
}
.name{
    color: #DCB855;
    font-size: 5rem;
    padding: 0rem 0.5rem;
    border: 2px solid transparent;
    display: inline;
}
.username_email{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 0.5rem;
    border: 2px solid transparent;
    width: fit-content;
}
.input_div{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 0.5rem;
    border: 2px solid transparent;
    width:fit-content;
}
.input{
    font-size: 1.5rem;
}
.info{
    color: #7E60BF;
}
.bio_input{
   scrollbar-width: none;
   padding: 0rem 0.5rem;
}
.bio_title{
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
    color: #7E60BF;
    border: 2px solid transparent;
}
.bio{
    width: 50%;
    font-size: 1.3rem;
    padding: 0rem 0.5rem;
}
.save_back_btn{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.btn{
    font-size:1.7rem ;
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}
.edit_btn{
    margin-top: 0.5rem;
    padding: 0.1rem 0.5rem;
    font-size:1.7rem ;
    border: 1px solid #4F4F4F;
    width: 65px;
    background-color: #EFEFEF;
    border-radius: 2px;
    cursor: pointer;
}
.edit_btn:hover{
    background-color: #E5E5E5;
}
@media screen and (max-width:1080px) {
    .bio{
        width: 95%;
    }
  }
